[submodule "MachineLearningService"]
	path = MachineLearningService
	url = https://github.com/Code-Nine-FTC/MachineLearningService
[submodule "ManagementService"]
	path = ManagementService
	url = https://github.com/Code-Nine-FTC/ManagementService
[submodule "MobileInterface"]
	path = MobileInterface
	url = https://github.com/Code-Nine-FTC/MobileInterface-2025.2
